Repository Carrera-Dev-Consulting/zombie-nomnom-ui, pull requests merged in 2024-11, with the labels that each got.

#18 build(security): Adding Security Scanning to CI/CD
  .github/workflows/codeql.yml
Labels: devops

#20 build(main): Adding automatic releases to main merges.
  .github/workflows/main.yml
Labels: devops

#21 build(docker): Adding docker files to be able to build demo apps
  Dockerfile
  docker-compose.yaml
Labels: docker

#22 build(main): Updating so that we continue to create pre-releases as rc verisons.
  .github/workflows/main.yml
Labels: devops

#23 build(release): Creating a release action that deploys to github actions.
  .github/workflows/publish.yml
Labels: devops

#25 build(k8s): Adding new deployment files and github actions to deploy the docker images we have.
  .github/labeler.yml
  .github/workflows/propose-image.yml
  .gitignore
  deployment/deployment.yaml
  deployment/envs/dev/values.yaml
  deployment/envs/prod/values.yaml
  deployment/ingress.yaml
  deployment/lib/schema.yaml
  deployment/namespace.yaml
  deployment/service.yaml
  docker-compose.yaml
Labels: devops, rules-updated

#26 build(docs): Adding storybook and new commands to be able to view the content of them.
  .eslintrc.json
  .github/labeler.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  makefile
  package.json
  src/app/components/header.mdx
  src/app/components/header.stories.tsx
  src/main.mdx
  yarn.lock
Labels: devops, rules-updated, ui, components, dependency-updated

#28 build(k8s): Adding -ui to our namspace so that it doesn't collide with api
  CODEOWNERS
  deployment/lib/schema.yaml
Labels: devops, rules-updated

#29 build(docs): Adding new workflow action to deploy the storybook, coverage, and any other generated docs to our github pages.
  .github/workflows/main.yml
  .gitignore
  jest.config.ts
  makefile
  package.json
  tsconfig.json
  yarn.lock
Labels: devops, rules-updated, dependency-updated, tests

#31 feat(UI): 11 feat create game screen
  public/images/Green Die.png
  public/images/Red Die.png
  public/images/Yellow Die.png
  public/images/brain.png
  public/images/feet.png
  public/images/gun.png
  src/app/components/die/die.css
  src/app/components/die/die.mdx
  src/app/components/die/die.stories.tsx
  src/app/components/die/die.tsx
  src/app/components/game/current_player/current_player.mdx
  src/app/components/game/current_player/current_player.stories.tsx
  src/app/components/game/current_player/current_player.tsx
  src/app/components/game/dice_board/dice_board.mdx
  src/app/components/game/dice_board/dice_board.stories.tsx
  src/app/components/game/dice_board/dice_board.tsx
  src/app/components/game/game.mdx
  src/app/components/game/game.stories.tsx
  src/app/components/game/game.tsx
  src/app/components/game/options/options.mdx
  src/app/components/game/options/options.stories.tsx
  src/app/components/game/options/options.tsx
  src/app/components/header/header.mdx
  src/app/components/header/header.stories.tsx
  src/app/components/header/header.tsx
  src/app/components/player/player.mdx
  src/app/components/player/player.stories.tsx
  src/app/components/player/player.tsx
  src/app/components/player_list/player_list.mdx
  src/app/components/player_list/player_list.stories.tsx
  src/app/components/player_list/player_list.tsx
  src/app/game/die.tsx
  src/app/game/page.tsx
  src/app/game/player.tsx
  src/app/layout.tsx
  src/app/page.tsx
  tests/component/die.test.tsx
  tests/component/game.test.tsx
  tests/component/header.test.tsx
  tests/component/player.test.tsx
  tests/component/player_list.test.tsx
  tests/models/die.test.tsx
  tests/models/player.test.tsx
  tests/page/game.test.tsx
Labels: docs, ui, components, tests, pages, layout

#32 chore: Fixing the docs and setting up tests using jest.config.ts
  jest.config.ts
  jest.setup.ts
  src/app/components/game/current_player/current_player.tsx
  src/app/components/game/dice_board/dice_board.tsx
  src/app/components/game/game.tsx
  src/app/components/game/options/options.tsx
  src/app/components/header/header.tsx
  src/app/components/player/player.tsx
  src/app/components/player_list/player_list.tsx
  src/app/game/die.ts
  src/app/game/player.ts
  tests/component/die.test.tsx
  tests/component/game.test.tsx
  tests/component/header.test.tsx
  tests/component/player.test.tsx
  tests/component/player_list.test.tsx
  tests/models/die.test.tsx
  tests/models/player.test.tsx
  tests/page/game.test.tsx
  tsconfig.json
Labels: ui, components, tests

#33 chore: Creating json-summary for coverage comment.
  jest.config.ts
Labels: tests
